In [19]:
import pandas as pd 
import numpy as np 
import seaborn as sns
from sklearn import linear_model 
from sklearn.metrics import mean_squared_error, r2_score

In [27]:
listing_final=pd.read_csv(r'C:\Users\HP\Downloads\listings_final.csv', sep=';')

In [28]:
listing_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 19 columns):
Unnamed: 0                  1000 non-null int64
listing_id                  1000 non-null int64
name                        1000 non-null object
type                        1000 non-null object
city                        1000 non-null object
neighborhood                935 non-null object
latitude                    1000 non-null float64
longitude                   1000 non-null float64
person_capacity             1000 non-null int64
beds                        1000 non-null int64
bedrooms                    1000 non-null int64
bathrooms                   1000 non-null float64
is_rebookable               1000 non-null bool
is_new_listing              1000 non-null bool
is_fully_refundable         1000 non-null bool
is_host_highly_rated        1000 non-null bool
is_business_travel_ready    1000 non-null bool
pricing_weekly_factor       1000 non-null float64
pricing_monthly_factor      1000 non-null float64
dtypes: bool(5), float64(5), int64(5), object(4)
memory usage: 98.7+ KB

In [29]:
price_availability=pd.read_csv(r'C:\Users\HP\Downloads\price_availability.csv', sep=';')

In [46]:
price_availability

,listing_id,day,created,available,local_currency,local_price,min_nights
0,9810829,2018-12-08,2018-09-27 06:14:10.000+0000,True,EUR,160,1
1,9810829,2018-12-08,2018-09-26 19:34:02.000+0000,True,EUR,160,1
2,20897010,2018-12-09,2018-09-27 10:38:57.000+0000,True,EUR,172,2
3,20897010,2018-12-09,2018-09-27 06:10:27.000+0000,True,EUR,172,2
4,20897010,2018-12-09,2018-09-26 19:30:25.000+0000,True,EUR,172,2
...,...,...,...,...,...,...,...
4748691,23608395,2018-09-06,2018-09-27 06:05:42.000+0000,False,EUR,24,1
4748692,23608395,2018-09-06,2018-09-26 19:31:32.000+0000,False,EUR,24,1
4748693,1447132,2018-12-27,2018-09-27 10:46:16.000+0000,False,EUR,125,3
4748694,1447132,2018-12-27,2018-09-27 06:07:36.000+0000,False,EUR,125,3
4748695,1447132,2018-12-27,2018-09-26 19:37:40.000+0000,False,EUR,125,3

In [40]:
listing_final.info();

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 19 columns):
Unnamed: 0                  1000 non-null int64
listing_id                  1000 non-null int64
name                        1000 non-null object
type                        1000 non-null object
city                        1000 non-null object
neighborhood                935 non-null object
latitude                    1000 non-null float64
longitude                   1000 non-null float64
person_capacity             1000 non-null int64
beds                        1000 non-null int64
bedrooms                    1000 non-null int64
bathrooms                   1000 non-null float64
is_rebookable               1000 non-null bool
is_new_listing              1000 non-null bool
is_fully_refundable         1000 non-null bool
is_host_highly_rated        1000 non-null bool
is_business_travel_ready    1000 non-null bool
pricing_weekly_factor       1000 non-null float64
pricing_monthly_factor      1000 non-null float64
dtypes: bool(5), float64(5), int64(5), object(4)
memory usage: 98.7+ KB

In [47]:
listing_final

,Unnamed: 0,listing_id,name,type,city,neighborhood,latitude,longitude,person_capacity,beds,bedrooms,bathrooms,is_rebookable,is_new_listing,is_fully_refundable,is_host_highly_rated,is_business_travel_ready,pricing_weekly_factor,pricing_monthly_factor
0,0,28581061,La maison Clery,private_room,Paris,2e arrondissement,48.869292,2.348335,1,1,1,2.0,False,True,True,False,False,1.00,1.00
1,1,661961,studio PARIS PLACE EDITH PIAF 75020,entire_home,Paris,NaN,48.867284,2.403255,2,1,1,1.0,False,False,True,True,False,0.88,0.69
2,2,1261705,chambre privÃ©e Ã louer @ paris oberkampf,private_room,Paris,NaN,48.867894,2.375897,1,1,1,1.0,False,False,True,True,False,1.00,1.00
3,3,1318834,Appartement au coeur du Marais,entire_home,Paris,RÃ©publique,48.870370,2.358510,3,2,2,1.0,False,False,True,False,False,0.82,0.48
4,4,1677091,Lovely & Quiet flat,entire_home,Paris,Buttes-Chaumont - Belleville,48.874149,2.373700,2,1,1,1.0,False,False,True,True,False,0.95,0.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,28335197,Studio cosy Jardin du Luxembourg,entire_home,Paris,Saint Germain des PrÃ©s - OdÃ©on,48.848695,2.325857,2,1,0,1.0,False,True,True,False,False,0.79,1.00
996,996,28583013,Charmant 30m2 - Faubourg Saint Martin,entire_home,Paris,RÃ©publique,48.871623,2.358006,3,1,1,1.0,False,True,True,False,False,1.00,1.00
997,997,28628316,Cosy flat in the marais - Best area,entire_home,Paris,2e arrondissement,48.867434,2.351771,4,2,1,1.0,False,True,True,True,False,1.00,1.00
998,998,28792796,Appartement 3 chambres madeleine.,entire_home,Paris,Madeleine - VendÃ´me,48.870109,2.321475,6,4,2,1.5,False,True,True,False,False,1.00,1.00
999,999,28682896,Village Jourdain,private_room,Paris,Buttes-Chaumont - Belleville,48.875425,2.395240,2,1,1,1.0,False,True,True,False,False,1.00,1.00

In [48]:





x = np.array(price_availability.local_price)
y = np.array([listing_final.bedrooms, listing_final.bathrooms, listing_final.person_capacity])

In [49]:
x

array([160, 160, 172, ..., 125, 125, 125], dtype=int64)

In [50]:
y

array([[1. , 1. , 1. , ..., 1. , 2. , 1. ],
       [2. , 1. , 1. , ..., 1. , 1.5, 1. ],
       [1. , 2. , 1. , ..., 4. , 6. , 2. ]])

In [38]:
price_availability.describe()

         listing_id   local_price    min_nights
count  4.748696e+06  4.748696e+06  4.748696e+06
mean   1.523313e+07  1.944215e+02  7.877554e+00
std    9.190721e+06  2.289745e+02  2.407054e+01
min    5.396000e+03  9.000000e+00  1.000000e+00
25%    6.351188e+06  7.900000e+01  2.000000e+00
50%    1.641294e+07  1.440000e+02  3.000000e+00
75%    2.353692e+07  2.400000e+02  4.000000e+00
max    2.885198e+07  1.000300e+04  3.650000e+02

In [36]:
listing_final.head()

,Unnamed: 0,listing_id,name,type,city,neighborhood,latitude,longitude,person_capacity,beds,bedrooms,bathrooms,is_rebookable,is_new_listing,is_fully_refundable,is_host_highly_rated,is_business_travel_ready,pricing_weekly_factor,pricing_monthly_factor
0,0,28581061,La maison Clery,private_room,Paris,2e arrondissement,48.869292,2.348335,1,1,1,2.0,False,True,True,False,False,1.00,1.00
1,1,661961,studio PARIS PLACE EDITH PIAF 75020,entire_home,Paris,NaN,48.867284,2.403255,2,1,1,1.0,False,False,True,True,False,0.88,0.69
2,2,1261705,chambre privÃ©e Ã louer @ paris oberkampf,private_room,Paris,NaN,48.867894,2.375897,1,1,1,1.0,False,False,True,True,False,1.00,1.00
3,3,1318834,Appartement au coeur du Marais,entire_home,Paris,RÃ©publique,48.870370,2.358510,3,2,2,1.0,False,False,True,False,False,0.82,0.48
4,4,1677091,Lovely & Quiet flat,entire_home,Paris,Buttes-Chaumont - Belleville,48.874149,2.373700,2,1,1,1.0,False,False,True,True,False,0.95,0.90